<ion-view title="Account">
    <ion-content padding="false" class="has-header">
        <div class="button-bar"></div>
        <form>
            <ion-list>
                <ion-item class="item-thumbnail-left">
                    <img src="img/ionic.png">
                    <h2>Aaron</h2>
                    <p>englishfun</p>
                </ion-item>
                <ion-item>My Wallet 我的钱包</ion-item>
                <ion-item>My Progress 我的进度</ion-item>
            </ion-list>
            <button class="button button-stable button-block " ng-if="!loggedIn">Login</button>
            <button class="button button-stable button-block " ng-if="loggedIn">Logout</button>
            <ion-radio>Radio</ion-radio>
            <label class="item item-input">
                <span class="input-label">Input</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-select">
                <span class="input-label">Input</span>
                <select></select>
            </label>

        </form>
    </ion-content>
</ion-view>

<!--<ion-view view-title="Account">-->
  <!--<ion-content>-->
    <!--<ion-list>-->
    <!--<ion-toggle  ng-model="settings.enableFriends">-->
        <!--Enable Friends-->
    <!--</ion-toggle>-->
    <!--</ion-list>-->
  <!--</ion-content>-->
<!--</ion-view>-->
