<ion-view view-title="Book">
  <ion-content scroll="false">

    <div class="left">
      <div ng-repeat="chapter in chapters" ng-class="['chapter', chapter.current ? 'current-chapter':'']" ng-class="chapter" ng-click="goTo(chapter)"><div>/{{chapter.name}}/</div></div>
    </div>
    <div class="right">
      <ion-content on-scroll="onscroll()">
        <ion-item collection-repeat="page in pages" ng-class="page.chapter">
          Chapter: /{{page.chapter.name}}/ P{{page.page}}
        </ion-item>
      </ion-content>
    </div>

  </ion-content>
</ion-view>
