<ion-view view-title="爱读 - Intro">
  <ion-content scroll="false">

    <div class="left-chapters">
      <div ng-repeat="chapter in chapters" ng-class="['chapter', chapter.name === currentChapter ? 'current-chapter':'', chapter.cls]" ng-class="chapter" ng-click="goTo(chapter)"><div>{{chapter.name}}</div></div>
    </div>
    <div class="right-pages">
      <ion-content on-scroll="onscroll()">
        <ion-item class="item-icon-right" collection-repeat="page in pages" ng-class="page.chapter" href="#/tab/book/{{page.page}}">
          {{page.desc}}
          <span class="icon note-icon" ng-class="page.icon"></span>
          <i class="icon page-number">{{page.page}}</i>
          <i class="icon ion-chevron-right icon-accessory"></i>
        </ion-item>
      </ion-content>
    </div>

  </ion-content>
</ion-view>
