.left-chapters {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 15%;
}

.right-pages {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    left: 15%;
}

.chapter {
    height: 11.11111%;
    position: relative;

    border-right: grey solid 1px;
}

.chapter.current-chapter {
    border-right: none;
    border-top: grey solid 1px;
    border-bottom: grey solid 1px;
    font-weight: bold;
}

.chapter>div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.slider {
    height: 100%;
}

.slider-slide {
    padding-top: 80px;
    color: #000;
    background-color: #fff;
    text-align: center;

    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
}

.slider-pager {
    bottom: 100px;
}

.item {
    border-left: none;
}

/* fix for ios ipad transition issue starts */
[nav-view-transition][nav-view-direction] {
    background-color: transparent; }

[nav-view-transition="ios"] [nav-view] {
    box-shadow: none !important; }
/* fix for ios ipad transition issue ends */