/* fix for ios ipad transition issue starts */
[nav-view-transition][nav-view-direction] {
    background-color: transparent; }

[nav-view-transition="ios"] [nav-view] {
    box-shadow: none !important; }
/* fix for ios ipad transition issue ends */


.border-bottom {
    border-bottom: 1px solid lightgrey;
}

.left-chapters {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    /*width: 15%;*/
}

.right-pages {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    left: 50px;
}

.chapter {
    width: 50px;
    height: 11.11111%;
    /*max-height: 50px;*/
    position: relative;
    /*border-right: grey solid 1px;*/
    background-color: lightgrey;
    /*margin-bottom: 1px;*/
    border-bottom: 1px solid white;
}

.chapter.current-chapter {
    /*border-right: none;*/
    /*border-top: grey solid 1px;*/
    /*border-bottom: grey solid 1px;*/
    /*font-weight: bold;*/
    color: white;
}
.chapter.current-chapter.intro {
    background-color: #D46E74;
}
.chapter.current-chapter.l {
    background-color: #7CC165;
}
.chapter.current-chapter.th {
    background-color: #E7C658;
}
.chapter.current-chapter.ee {
    background-color: #AD6796;
}
.chapter.current-chapter.f {
    background-color: #DC7A4B;
}
.chapter.current-chapter.oo {
    background-color: #ACCC5E;
}
.chapter.current-chapter.e {
    background-color: #5379AD;
}
.chapter.current-chapter.n {
    background-color: #5AB9CA;
}
.chapter.current-chapter.a {
    background-color: #5CB091;
}

.chapter>div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.item-icon-right .icon.page-number {
    border: none;
    right: 35px;
    color: lightgrey;
}

.icon.note-icon {
    right: 90px;
    background-size: 50px;
}

.icon-StudyofOriginalMistakes {
    color: #7CC165;  /* green */
}

.icon-RemindersReferencea, .icon-RemindersReferencee {
    colro: #B37AA6;  /* purple */
}

/*#EF8993   pink*/
/*#FAC551   yellow*/

.slider {
    height: 100%;
}

.slider-slide {
    padding-top: 80px;
    color: #000;
    background-color: #fff;
    text-align: center;

    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
}

.slider-pager {
    bottom: 100px;
}

.item {
    border-left: none;
}

/* text in hr starts */
.strike {
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
}

.strike > span {
    position: relative;
    display: inline-block;
}

.strike > span:before,
.strike > span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 9999px;
    height: 1px;
    background: lightgrey;
}

.strike > span:before {
    right: 100%;
    margin-right: 15px;
}

.strike > span:after {
    left: 100%;
    margin-left: 15px;
}
/* text in hr ends */

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.video-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

button.play {
    font-size: 40px;
    float: right;
}

#myaudio {
    float: left;
    width: 80%
}

.img {
  text-align: center
}
